body {
  background-color: #87b1fa;
  color: #fad087;
  font-family: font-family: 'Roboto', sans-serif;
  font-size: 20px
}

.introp {
  padding-bottom: 40px;
}

.row {
  text-align: center;
}

.panel {
  border-width: medium;
  border-radius: 2px;
  border-color: #87ebfa;
  background-color: #9787fa;
  width: 250px;
  height: 275px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.definition-a {
  display: none;
  font-size: 12px;
}

/*
#hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.clickable {
  text-decoration: underline;
}


.dark-theme {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.light-theme {
  background-color: #c0d1ed;
  color: #002259;
  font-weight: bold;
}
*/
.definition-b {
  display: none;
  font-size: 12px;
}
.definition-c {
  display: none;
  font-size: 12px;
}
.definition-d {
  display: none;
  font-size: 12px;
}
.definition-e {
  display: none;
  font-size: 12px;
}
.definition-f {
  display: none;
  font-size: 12px;
}

.definition-g {
  display: none;
  font-size: 12px;
}
.definition-h {
  display: none;
  font-size: 12px;
}
.definition-i {
  display: none;
  font-size: 12px;
}
.definition-j {
  display: none;
  font-size: 12px;
}
.definition-k {
  display: none;
  font-size: 12px;
}
.definition-l {
  display: none;
  font-size: 12px;
}
.definition-m {
  display: none;
  font-size: 12px;
}
.definition-n {
  display: none;
  font-size: 12px;
}
.definition-o {
  display: none;
  font-size: 12px;
}
.definition-p {
  display: none;
  font-size: 12px;
}

.definition-q {
  display: none;
  font-size: 12px;
}

.definition-r {
  display: none;
  font-size: 12px;
}
.definition-s {
  display: none;
  font-size: 12px;
}
.definition-t {
  display: none;
  font-size: 12px;
}
